*.jou
*.log
*.pb
xsim.dir/*
ejemplos/fib/xsim.dir/fib/Compile_Options.txt
ejemplos/fib/xsim.dir/fib/TempBreakPointFile.txt
ejemplos/fib/xsim.dir/fib/xsim_script.tcl
ejemplos/fib/xsim.dir/fib/xsim.dbg
ejemplos/fib/xsim.dir/fib/xsim.mem
ejemplos/fib/xsim.dir/fib/xsim.reloc
ejemplos/fib/xsim.dir/fib/xsim.rtti
ejemplos/fib/xsim.dir/fib/xsim.svtype
ejemplos/fib/xsim.dir/fib/xsim.type
ejemplos/fib/xsim.dir/fib/xsim.xdbg
ejemplos/fib/xsim.dir/fib/xsimk
ejemplos/fib/xsim.dir/fib/xsimSettings.ini
ejemplos/fib/xsim.dir/work/calc.sdb
ejemplos/fib/xsim.dir/work/fib.sdb
ejemplos/fib/xsim.dir/work/fsm.sdb
ejemplos/fib/xsim.dir/work/tb.sdb
ejemplos/fib/xsim.dir/work/work.rlx
ejemplos/fib/fib.wdb
ejemplos/fib-clase.zip
ejemplos/fib/dsim_work/*
ejemplos/fib/*.env
ejemplos/fib/*.db
ejemplos/fib/*.mxd